<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152083336572-u52d8b7s201v2afc61rfohepioq9hc5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152083336572-u52d8b7s201v2afc61rfohepioq9hc5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAunkwidI2O6vIKpXE0zmrfKbmsq-gGPAA</string>
	<key>GCM_SENDER_ID</key>
	<string>152083336572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myspeedcam.MySpeedCamApp</string>
	<key>PROJECT_ID</key>
	<string>myspeedcamapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myspeedcamapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152083336572:ios:e96b05fef8c1ec1c9328f9</string>
</dict>
</plist>